.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
  }
body{
    background-color:#ebfdfa;
  }
button{
    background-color:#f7b6c1;
    color:white;
    margin:3px;
    font-size:18px;
    border:1.5px;
    border-color: white;

}

#form{
    margin:10px;
}
#showGifs{
    text-align: center;
}